<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<form th:method="post" th:action="@{/}" th:object="${user}">
    <label for="firstName">Name</label>
    <input type="text" th:field="*{firstName}" id="firstName"/><br/>

    <label for="lastName">Surname</label>
    <input type="text" th:field="*{lastName}" id="lastName"/><br/>

    <label for="age">Age</label>
    <input type="number" th:field="*{age}" id="age"/><br/>

    <input type="submit" value="Добавить"/>
</form>
</body>
</html>